img {
  opacity: 0;
}

* {
  color: transparent;
}

body {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  font-family: "PT Sans NarrowBold";
  margin: 0px;
  background: #000000 url("../barbershop-item.png") no-repeat 50% 3px;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  color: #000000;
  font-family: "PT Sans NarrowBold";
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  font-family: "PT Sans NarrowBold";
  text-transform: uppercase;
  margin: 0px;
}

.container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}

.catalog-header {
  margin-bottom: 50px;
  background-color: #000000;
}

.header-navigation {
  width: 780px;
  float: left;
  /* для разметки */
  height: 75px;
}

.header-navigation ul {
  padding: 0px;
  list-style: none;
}

.header-navigation li {
  display: inline;
}

.user-block {
  width: 140px;
  float: right;
  /* для разметки */
  height: 75px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-caption {
  height: 40px;
  margin-bottom: 20px;
}

.breadcrumbs {
  /* для разметки */
  min-height: 25px;
  margin-bottom: 50px;
}

.breadcrumbs ul {
  padding: 0px;
  list-style: none;
}

.breadcrumbs li {
  display: inline;
}

.left-block {
  width: 220px;
  float: left;
  margin-right: 10px;
  /* для разметки */
  min-height: 600px;
}

.right-block {
  width: 700px;
  float: right;
  margin-left: 10px;
}

.item {
  width: 220px;
  height: 290px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #ffffff;
}

.right-block article:nth-child(3n) {
  margin-right: 0px;
}

p {
  margin: 0px;
}

.buy-block {
  height: 44px;
}

.goods {
  margin-bottom: 25px;
}

.pagination {
  width: 700px;
  clear: both;
  list-style: none;
  padding: 0px;
  /* для разметки */
  height: 44px;
  margin: 0px;
}

.pagination li {
  display: inline;
}

.catalog-footer {
  margin-top: 25px;
  padding-top: 60px;
  padding-bottom: 40px;
  /*  background: #242424 url("../img/footer-back.png") repeat;  */
}

.footer-contacts {
  float: left;
  width: 320px;
  /* для разметки */
  min-height: 90px;
  margin-right: 80px;
}

.footer-social {
  float: left;
  width: 140px;
  /* для разметки */
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 140px;
  /* для разметки */
  min-height: 90px;
}

.item-photos {
  width: 460px;
  font-size: 0px;
  float: left;
}

.item-photos img {
  margin-top: 20px;
  margin-right: 20px;
}

.item-photos img:last-child {
  margin-right: 0px;
}

.item-photos img:first-child {
  margin-right: 0px;
  margin-top: 0px;
}

.item-info {
  float: right;
  width: 400px;
  text-transform: uppercase;
}

.item-description {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.item-status {
  float: left;
  width: 170px;
}

.item-article {
  float: right;
  width: 200px;
}

.item-allinfo {
  clear: both;
  margin-top: 50px;
  /* для разметки прибить высоту, с невлезающим текстом разобраться потом*/
  height: 165px;
}

.buy-block {
  padding: 10px;
  margin-bottom: 50px;
}

.item-price {
  width: 110px;
  float: left;
  min-height: 44px;
}

.item-buy {
  width: 80px;
  float: left;
  min-height: 44px;
}
