body {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  font-family: "PT Sans NarrowBold";
}

h1 {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  color: #000000;
  font-family: "PT Sans NarrowBold";
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  font-family: "PT Sans NarrowBold";
  text-transform: uppercase;
}
